@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  height: 100vh;
  background : black;
  display : flex;
  justify-content: center;
  align-items: center;
}

.website {
  display : grid;
  background : white;
  width : 80%;
  height : 80%;
  grid-template-rows: 5% 95%;
  margin: 0;
}

/* header */
header {
  display : flex;
  justify-content: space-between;
  align-items: center;
  background : #bdbec0;
}

header div:first-child{
  margin-left : 1%;
  color : #888;
}

header div:nth-child(2) {
  margin : 0 auto;
  border-radius : 10%;
  border: 1px solid #888;
  width : 40%;
  height : 65%;
}

/* content */
.wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
}

/* left-grid */
.left-grid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 50% 50%;
}

.left-grid div {
  padding : 7px;
  font-weight: 500;
  font-size: 2.5vh;
}

.left-grid div:first-child {
  background : black;
  color: white;
  font-size: 3.2vh;
  letter-spacing: 1px;
  font-weight: 400;
}

.left-grid div:nth-child(2) {
  background : #6b04fb;
}

.left-grid div:nth-child(3) {
  grid-row : span 2;
  background: #ff1502;
  line-height: 3vh;
}

.left-grid div:nth-child(5) {
  background: #ffc904;
}

/* right-grid */
.right-grid {
  display: grid;
  grid-template-rows: 5% 95%;
  grid-template-columns: 50% 50%;
}

.right-grid div {
  padding : 10px;
  font-weight: 500;
  line-height: 2.5vh;
}

.right-grid div:first-child, div:nth-child(2) {
  font-size : 9px;
}

.right-grid div:nth-child(3), div:nth-child(4) {
  font-size : 2.1vh;
}

/* hightlight */
span {
  background-color : #6b04fb;
}